boto==2.49.0
boto3==1.9.163
botocore==1.12.163
certifi==2019.6.16
chardet==3.0.4
dj-database-url==0.5.0
Django==2.2.2
django-instagram==0.3.0
django-storages==1.7.1
django-taggit==1.1.0
docutils==0.14
gunicorn==19.9.0
httplib2==0.13.0
idna==2.8
jmespath==0.9.4
lxml==4.3.4
Pillow==6.0.0
psycopg2==2.7.4
psycopg2-binary==2.8.3
python-dateutil==2.8.0
pytz==2019.1
requests==2.11.1
s3transfer==0.2.1
s3utils==0.6.1
simplejson==3.16.0
six==1.12.0
sorl-thumbnail==12.5.0
sqlparse==0.3.0
urllib3==1.26.5
whitenoise==4.1.2
