
  body 
    {
    color: white;
    background-color: #000000;
    margin: 0px
    }

html, body, h3, h4, h5, h6 {
  font-family: Play;
  line-height: 1.6;
  }
h1, h2 {
font-family:Rockwell;
}
.box2 {
  background-color: transparent;
  width: 40%;
  border: 0px solid green;
  padding: 9px;
  margin: 80px;
}
.crop {
 height: 500px;
 width: 600px;
 overflow: hidden;
}
.crop img {
 height: auto;
 width: 600px;
}
.crop2 {
 height: 500px;
 width: 600px;
 overflow: hidden;
}
.crop2 video {
 height: 500px;
 width: 600px;
}
img.im1 {
 /* border: 2px solid #ddd;  Gray border */
  border-radius: 4px;  /* Rounded border */
  padding: 8px; /* Some padding */
  width: 200px;
   /* Set a small width */
}

img.im1:hover {
  box-shadow: 0 0 2px 6px rgba(0, 140, 186);
}
* {
  box-sizing: border-box;
}

.box {
  background-color: transparent;
  width: 80%;
  border: 0px solid green;
  padding: 9px;
  margin: 40px;
}
.btn {
  border: 2px solid black;
  background-color: transparent;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}
/* Blue */
.info {
  border-color: #2196F3;
  color: dodgerblue
}

.info:hover {
  background: #2196F3;
  color: white;
}
